.imgContainer {
  width: 100%;
  height: 300px;
  position: relative;
}

.img {
  object-fit: cover;
  filter: grayscale(80%);
}

.imgText {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: #5ac28e;
  padding: 5px;
  color: inherit; 
}

.textContainer {
  display: flex;
  gap: 100px;
  flex-wrap: wrap;
}

.item {
  flex: 1;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 20px;
  color: inherit; 
}

.desc {
  font-size: 18px;
  line-height: 1.7;
  text-align: justify;
  color: inherit; 
}

.imgTitle {
  font-size: 48px;
  font-weight: 700;
  color: inherit; 
}

.imgDesc {
  font-size: 18px;
  font-weight: 400;
  max-width: 600px;
  color: inherit; 
}