.container {
  display: flex;
  align-items: center;
  gap: 70px;
}

.item {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.title {
  font-size: 61px;
  background: linear-gradient(to bottom, #34ce84, #51e633);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.img {
  width: 100%;
  height: 500px;
  object-fit: contain;
  animation: move 3s infinite ease alternate;
}

@keyframes move {
  from {
    transform: translate(-5px, -10px);
  }
  to {
    transform: translate(5px, 10px);
  }
}


.desc {
  font-size: 24px;
  font-weight: 300;
}